@font-face {
  font-family: SourceSansPro-Regular;
  src: url(fonts/SourceSansPro-Regular.ttf);
}


body {
  font: 400 15px "SourceSansPro-Regular";
  line-height: 1.8;
  color: #818181;
}



.logo {
  height: 50px;
  width: 50px;
} 

/* screen size */
@media screen and (max-width: 600px) {
  .logo {
    height: 10px;
    width: 10px;
  }

  #myNavbar {
    background-color: #283B8A;
    color: white;
  }


  .navbar {
    height: 40px;
  }

  .navbar-default .navbar-toggle {
    border-color: #283B8A;
    margin-top: 40px;
    background-color: #283B8A;

  }

  .logo {
    height: 50px;
    width: 50px;
  }




}

/*  END screen size */


/*modal*/

form {
  text-align: center;

}

.container_modal {
  display: inline-block;
  margin-left: 10px;
  z-index: 2;
}



.container_modal {
  padding: 16px;
  z-index: 2;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
  z-index: 2;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}



/*MODAL END*/

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  color: white;
  width: 100%;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  background: url("Images/onlinestudy2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.btn {
  width: 200px;
  background-color: #283B8A;
  color: white;
}

.jumbotron h1 {
  font-weight: 900;
}

.jumbotron p {
  font-size: 30px;
}

.container-fluid {
  padding: 60px 50px;
}

.panel {
  border: 1px solid #f4511e;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #black !important;
  color: white;
}

.panel-footer {
  background-color: white !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  background-color: #283B8A;
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: white;
  height: 80px;
}

.navbar li a,
.navbar .navbar-brand {
  color: white !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: white !important;
  background-color: #283B8A !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #283B8A;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}


}

.fa {
  padding: 25px;
  font-size: 18px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  float: right;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #283B8A;
  color: white;
}

.fa-google {
  background: #283B8A;
  color: white;
}

.fa-instagram {
  background: #283B8A;
  color: white;
}

.fa-phone {
  background: #283B8A;
  color: white;
}

.img_serv {
  margin-left: auto;
  margin-right: auto;
}

/*timeline/*
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #283B8A;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container_timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container_timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid#283B8A;
  top: 1px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content_timeline {
  padding: 20px 30px;

  position: relative;
  border-radius: 6px;
}

.content_timeline h2 {
  color: #283B8A;
  font-weight: 900;
}

.content_timeline h4 {
  color: black;
  font-weight: 700;
  font-size: 20px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container_timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container_timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}